.background    { background: rgb(30, 200, 200);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 50, 50); }
.wall          { background: black;   }
.floater       { background: yellow;  }
.actor { position: absolute; }
.player { background: green; }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
